<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3>Create a New Listing</h3>
    <br />
    <form
      method="post"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a catchy title"
          type="text"
          class="form-control"
          id="title"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          name="listing[description]"
          placeholder="enter the description"
          type="text"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input
          id="image"
          name="listing[image]"
          type="file"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            id="price"
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            type="number"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            id="Country"
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        <input
          id="Location"
          name="listing[location]"
          placeholder="Darjeeling ,WestBengal"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>
      <div class="mb-3">
        <label for="Category" class="form-label">Category</label>
        <select
          class="form-select"
          aria-label="Default select example"
          id="Category"
          required
          name="listing[category]"
        >
          <option value="" selected disabled>Select Category</option>
          <option value="Rooms">Rooms</option>
          <option value="Iconic Cities">Iconic Cities</option>
          <option value="Mountains">Mountains</option>
          <option value="Castles">Castles</option>
          <option value="AmazingPools">AmazingPools</option>
          <option value="Camping">Camping</option>
          <option value="Farms">Farms</option>
          <option value="Arctic">Arctic</option>
          <option value="Domes">Domes</option>
          <option value="Boats">Boats</option>
        </select>
      </div>
      <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
    <br /><br />
  </div>
</div>
